<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <h1><%= scientist.name %></h1>
    <p><%= scientist.description %></p>
    <form action="/scientist/<%= index %>?_method=DELETE" method="post">
        <button type="submit">Delete <%= scientist.name %>?</button>
    </form>
</body>
</html>